$background: #2f3437;
$background-accent-alt: #b0cdef;
$background-accent: #576a75;
$hr-gradient-inner: #222f34;
$hr-gradient-outter: #576a75a6; 

$main-font-color: white;
$accent-font-color: #ffdd80;

$tertiary-font-color: rgb(235, 235, 235);
$deemphasised-font-color: gray;

$button-background: #583e98;