@use "pallete";
@import "./main.scss";  
@import "./markdown.scss";  

#bot-template-error {
    color: red;
}

.panel-button {
    &.new-panel-button {
        min-width: 100px;
    }    
    &.inactive {
        &:hover {
            box-shadow: initial;
            -webkit-box-shadow: initial;
            -moz-box-shadow: initial;
            cursor: pointer;
        }
    }
    position: relative;
    #btn-new-opts {
        display: none;
        position: absolute;
        width: 100%;
        top: 40%;
        left: 1.5;
        z-index: 1;
        background-color: pallete.$button-background;
        border-radius: 0 0 4px 4px;
        padding-left: 0px;
        li {
            color: white;
            list-style: none;
            margin-left: 0;
            padding: 4px;
            // padding-right: 8px;
            &:hover {
                box-shadow: 0px 0px 15px 3px rgba(66,66,66,0.67) inset;
                -webkit-box-shadow: 0px 0px 15px 3px rgba(66,66,66,0.67) inset;
                -moz-box-shadow: 0px 0px 15px 3px rgba(66,66,66,0.67) inset;
                cursor: pointer;
            }
        }
    }
    &:hover #btn-new-opts {
        display: block;
    }
    
}

.authorizations {
    margin-bottom: 10px;
    button {
        margin-bottom: 2px;        
        margin-left: 10px;
        font-size: medium;
        padding-top: 2px;
        padding-bottom: 2px;
        font-weight: normal;
        font-family: Arial, Helvetica, sans-serif;
        width: 170px;

        &.unauthorized {
            background-image: url('/img/ex.png');
            background-position: 96% center;
            background-repeat: no-repeat;
            background-size: 18px;
        }
        &.authorized {
            background-image: url('/img/check.png');
            background-position: 96% center;
            background-repeat: no-repeat;
            background-size: 18px;
        }
    }        
}
