#showcase-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    #img {
        aspect-ratio: 1 / 1;
        max-height: 90vh;
    }
    * {
        margin: 0 auto;
        text-align: center;
    }
    .label {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 95%;
    }
}