/* Style chat box shape */
.chat_line_wrapper {
    border: 4px solid purple;
    margin-bottom: 20px;
    position: relative;
    border-radius: 8px;
}
.chat_line {
    position: relative;
    border: 2px solid violet;
    margin: -1px;
    padding: 0px;
    border-radius: 2px;
}
.chat {
    position: relative;
    background-color: white;
    padding: 2px;
}
.tail {
    width: 0;
    height: 0;
    border-top: 10px solid purple;
    border-left: 47px solid transparent;
    content: "";
    position: absolute;
    right: -48;
    bottom: -7;
    transform: rotate(189deg);
}
.tail::after {
    width: 0;
    height: 0;
    border-top: 5px solid white;
    border-left: 40px solid transparent;    
    position: absolute;
    right: -4;
    bottom: 3;
    transform: rotate(3deg);
    content: "";
}
.tail > .inner {
    width: 0;
    height: 0;
    border-top: 6px solid violet;
    border-left: 43px solid transparent;
    content: "";
    position: absolute;
    right: -1;
    bottom: 3;
    transform: rotate(2.2deg);
}

/* Style content within chat box */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 80%;

}
.badges {
    /* margin-right: 5px; */
}
.badges > img {
    display: inline-block;
    margin-right: 5px;
}
.nick {
    text-overflow: ellipsis;
    vertical-align: top;
    text-decoration: underline;
    font-size: 15px;
}
.message {
    margin-top: 5px;
    display: block;
    font-size: 13px;
}