$background: #2f3437;
$background-accent: #576a75;
$hr-gradient-inner: #222f34;
$hr-gradient-outter: #576a75a6;

$main-font-color: white;
$accent-font-color: #b0cdef;
$tertiary-font-color: rgb(235, 235, 235);

$button-background: #583e98;


body {
    background-color: $background;
    width: 99%;
    height: 98%;
    display: flex;
    flex-direction: column;
    position: absolute;
    column-gap: 0px;
    row-gap: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    & > * {
        margin: auto;        
    }
}

.main{
    background-color: $background-accent;
    width: 95%;
    min-height: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    row-gap: 10px;    
}
#content { 
    &-main {
        border-radius: 8px;
        min-width: 600px;
    }

    &-head, &-foot {
        border-radius: 8px;
        min-width: 600px;
        width: 95%;        
        background-color: $background-accent;
        position: relative;
    }
    &-head {
        min-height: 70px;
    }
    &-foot {
        min-height: 30px;
    }
}
.panel {
    &-left, &-right {
        h2 {
            color: $accent-font-color;
            font-size: 1.8em;
            margin-bottom: 2px;    
        }
        margin-left: 20px;
        hr {
            // border-top: 1px solid #222f34;
            border: 0;
            height: 1px;
            background: $hr-gradient-inner;
            background-image: linear-gradient(to right, $hr-gradient-outter, $hr-gradient-inner, $hr-gradient-outter);            
            width: 100%;
            margin-left: 0px; 
        }
        overflow-y: auto;                
    }
    &-left {
        flex-grow: 1;
        flex-shrink: 0;
        margin-right: 10px;
    }
    &-right {
        flex-grow: 0.8;
        max-width: calc(100%/2);
        & > h2 {
            margin-bottom: 12px;
        }
    }
    &-header {
        display: flex;
        flex-direction: row;
        & > h2 {
            flex-grow: 90;
        }
        & > span {
            flex-grow: 10;
        }
    }    
    &-button {
        &:hover {
            box-shadow: 0px 0px 15px 3px rgba(66,66,66,0.67) inset;
            -webkit-box-shadow: 0px 0px 15px 3px rgba(66,66,66,0.67) inset;
            -moz-box-shadow: 0px 0px 15px 3px rgba(66,66,66,0.67) inset;
            cursor: pointer;
        }
        color: $main-font-color;
        width: fit-content;
        height: fit-content;
        margin-top: 20px;
        margin-bottom: 2px;
        display: flex;
        flex-direction: row;
        column-gap: 8px;
        border-radius: 4px;
        line-height: 1.35;
        border-style: solid;
        background-color: $button-background;
        border-color: $button-background;
        box-shadow: none;
        padding: 5px;
        padding-right: 8px;
        font-size: large; 
        .add-img {
            height: 24px;    
            width: 24px;
            svg { 
                width: 24px;
                height: 24px;
                display: inline-block;            
                path {
                    stroke: $main-font-color;
                    stroke-width: 4px;            
                }
            }
        }        
    }
}

.right-align{
    text-align: right;
    right: 20;
}
.bottom-align {
    position: absolute;
    bottom: 3px;
}


#page-title {
    color: $main-font-color;
    margin-left: 20px;
}
#created-by {
    text-align: right;
    color: $tertiary-font-color;
}

.material-symbol-add {
  font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48;
}


.markdown {
    color: $tertiary-font-color;
    font-weight: lighter;
    & h1,& h2,& h3,& h4 {
        color: $main-font-color;
    }
    & h1 {
        font-size: 1.5em;
    }
    & h2 {
        font-size: 1em;
    }
    & h3 {
        font-size: 0.8em;
    }
    & h4 {
        font-size: 0.6em;
    }
    code {        
        background: rgb(172 229 255 / 44%);
        font-family: monospace;
        color: black;
    }
    pre > code {
        padding: 4px;
        word-wrap: break-word;
        box-decoration-break: clone;
        padding: .1rem .3rem .2rem;
        border-radius: .2rem;
    }
    p > code {
        padding-left: 4px;
        padding-right: 4px;
    }
}